<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>

  <appSettings>
    <add key="LOCAL_FACES_DATABASE" value="server=your_ip_address; uid=your_uid; pwd=your_password; database=thoth; charset=utf8"/>
  </appSettings>
</configuration>
